body{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: rgb(51, 51, 51) !important;
}

#map{
    height: 90vh;
}

#map-layers{
    color: ivory !important;
}

.select-wrapper input.select-dropdown{
    color: ivory;
    background-color: ivory;
}


/*
.grid-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    height: 100vh;
}

#map-nav {
    grid-column: 1/13;
    grid-row: 1;
    background-color: rgb(51, 51, 51);
    color: ivory;
    overflow-y: auto;
}

#map{
    grid-column: 1/13;
    grid-row: 2/12;
    
}

#map-layers {
    grid-column: 5/8;
    grid-row: 1;
}

#map-legend {
    grid-column: 1/13;
    grid-row: 12/13;
}

#map-controls{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(3,1fr);
}


.title {
    grid-column: 1/5;
    grid-row: 1/4;
    margin: 0px;
    font-size: 2rem;
}


#date-btns {
    display:grid; 
    grid-template-columns: 1fr 4fr 1fr;
}


#date-picker {
    width: 100%;
}

#map-legend {
    display:grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 800px;
    justify-items: stretch;
    padding-left: 10px;
}
*/

.county-name{
    font-size: 1.2rem;
}