body{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: rgb(51, 51, 51) !important;
}

#map{
    height: 90vh;
}

#map-layers{
    color: ivory !important;
}

.select-wrapper input.select-dropdown{
    color: ivory;
    background-color: ivory;
}

.county-name{
    font-size: 1.2rem;
}